<% include header %>

<h2>Login</h2>
<form action="" method="POST" role="form">
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" id="email" name="email" placeholder="you@example.com" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Create Account">
    </div>
</form>

<% include footer %>